
html, body {
    overflow: auto;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: darkslategray;
    color: #FFF;
    font-size: 30px;
}

div.container {
    z-index: 100;
}

div.center {
    text-align: center;
}

.time {
    font-size: 2em;
}

.time.small {
    font-size: 1.5em;
}

h1, h2 {
    color: rgb(249 132 135);
}

h1 {
    font-size: 2em;
}

h2 {
    margin-top: 5%;
    font-size: 1.5em;
}

#footer p {
    font-size: 0.5em;
}

select {
    color: #000 !important;
}

#controls {
    margin-top: 5%;
    font-size: 0.5em;
}

canvas {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}